body {
    background-color: transparent;
    font-family: 'Muli', sans-serif;
    font-size: 15px;
    color: #666;
    margin:20px 0px;
    padding:0px;
    text-align:center;
}
a:link {
    color: #666;
    text-decoration: underline;
}
a:visited {
    color: #555;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
body p, ul, ol, #footer {
    margin-left: 184px;
}
ul {
    padding-left: 18px;
    margin-top:0px;
    list-style-image: url('/static/bullet.png');
}
ol {
    padding-left: 18px;
    margin-top:0px;
}
h2 {
    margin-left: 184px;
    padding: 0px;
    font-size: 17px;
    font-weight: normal;
    color: #333;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 3px;
}
#container {
    width:800px;
    margin:0px auto;
    text-align:left;
    padding:15px;
    background-color:transparent;
}
#first {
    margin-top: 0px;
}
#lp_home, #lp_home span {
    width: 670px;
    height: 156px;
    background-image: url('/static/logo.png');
    background-repeat: no-repeat;
}
#lp_home span {
    margin-bottom: -156px;
}

h1 span {
    display: block;
    position: relative;
    z-index: 1;
}
/* IE5 Mac\*/
h1 {
    overflow: hidden;
}
/*/
  h1 {
  text-indent: -100em;
  }
  /* End Hack */
#container p {
    margin-left: 184px;
}
.intro {
    font-size: 20px;
    margin-left: 184px;
    color: #c83840;
}
#footer{
    margin-top: 10px;
    font-size: 12px;
}
