{% extends "base.html" %}

{% block content %}
<a href="/"><h1 id="lp_home"><span></span>lastpage.me</h1></a>

<p class="intro">
If you want to tell someone a URL, how do you normally do it?  What's
the absolute easiest possible way?
</p>

<p><em>With lastpage.me it takes 2 mouse clicks.</em>

<ol>
  <li>You click <img src="/static/icon.png"/> to record where you are</li>
  <li>Your friend clicks a link on their browser toolbar to jump there</li>
</ol>

<p>Compare that to what you'd typically do during a phone conversation:</p>

<ol>
  <li>Copy the URL of the page you're looking at in your broswer</li>
  <li>Switch to your email program</li>
  <li>Enter or the recipients email address</li>
  <li>Maybe write a Subject line</li>
  <li>Paste the URL into the mail</li>
  <li>Click send</li>
  <li>Go back to your browser</li>
  <li>Meanwhile the other person switches to their email program</li>
  <li>You both wait until they receive the email</li>
  <li>They click to view your email</li>
  <li>They click on the link in the mail</li>
</ol>

<h2>Use a URL shortener</h2>
<p>
URL shorteners can help, and make it feasible to read a URL aloud, but
they're still more awkward than it should be. You have to go and create one
each time, and <em>every short URL you make is different</em>. Once you've
made a short URL, you still have to get the other person the sequence of
random upper- and lower-case letters and numbers.
</p>


<p><a href="/">Back to main</a></p>

{% endblock %}
