{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
function renderBookmarklet() {
    var name = document.getElementById('name').value;
    if (name !== undefined && name !== null) {
        var target = document.getElementById('target');
        if (name == '') {
            target.innerHTML = '&nbsp;';
        }
        else {
            target.innerHTML = 
            ('2. Now, drag this link <a href="http://lastpage.me/' +
              name + 
              '">Follow ' + 
              name + 
              '</a> to your browser toolbar.');
        }
    }
}
</script>

<h1 id="lp_home"><span></span>lastpage.me</h1>

<p class="intro">
The fastest way to share URLs
<br/>
Share any URL with one mouse click!
</p>
<ol>
  <li>Just click <img class="icon" src="/static/icon.png"/> to record the page you're on.</li>
  <li>Friends then go straight to your page via a bookmark.</li>
</ol>

<h2>Sign up:</h2>
<ul>
  <li><a href="http://fluidinfo.com/accounts/new">Register</a> for a (free!)
    <a href="http://fluidinfo.com">Fluidinfo</a> username.</li>
  <li>Follow the email verfication link to set your password.</li>
  <li>Your personal fixed URL will be
    <em>http://lastpage.me/&lt;Fluidinfo&nbsp;username&gt;</em>.</li>
</ul>

<h2>Browser extension:</h2>
<ul>
  <li>Install a 
      lastpage.me browser extension (<a href="https://fluiddb.fluidinfo.com/about/lastpage.me/gridaphobe/lastpage.me.crx">Chrome</a>, <a href="http://fluiddb.fluidinfo.com/about/lastpage.me/gridaphobe/lastpage.me.safariextz">Safari</a>).</li>
  <li>When browsing, click <img class="icon" src="/static/icon.png"/> to record the page you're on.</li>
  <li>Now anyone can visit <em>http://lastpage.me/yourname</em> to jump to that page.</li>
</ul>

<h2>Create permanent bookmarks to follow friends:</h2>
<p id="bookmarklet">1. Enter a friend's username: <input type="text" id="name"
onkeyup="renderBookmarklet()"/><br/><span id="target">&nbsp;</span></p>

<h2>Learn more: <a href="tools.html">privacy, custom URLs, open source &amp; data, contact us</a>.</h2>

{% endblock %}
