{% extends "base.html" %}

{% block content %}
<h1 id="lp_home"><span></span>lastpage.me</h1>

<p class="intro">
Click to record the web page you're on.
<br/>
People jump there via your personalized fixed URL.
</p>

<p>
  Need to tell someone the URL of the page you're looking at? Don't read it
  aloud or email it, just click and send them to
  <em>http://lastpage.me/yourname</em>. Have a page open on one computer
  and want to visit it on another?  Easy! Because lastpage.me URLs don't
  change, they're perfect for adding to bookmarks.
</p>

<h2>Sign up</h2>
<ul>
  <li><a href="http://fluidinfo.com/accounts/new">Register</a> for a
    <a href="http://fluidinfo.com">Fluidinfo</a> username
  </li>
  <li>Follow the email verfication link to set your password</li>
  <li>Your personal fixed URL is <em>http://lastpage.me/&lt;your-Fluidinfo-username&gt;</em></li>
</ul>

<h2>Chrome extension</h2>
<ul>
  <li>Install <a href="https://fluiddb.fluidinfo.com/about/lastpage.me/gridaphobe/lastpage.me.crx">the extension</a></li>
  <li>Right-click the <img src="/static/icon.png"/> icon in the toolbar (next to the wrench) and choose Options</li>
  <li>Enter your Fluidinfo username and password</li>
  <li>When browsing, click the <img src="/static/icon.png"/> icon to record the page you're on</li>
  <li>Now anyone can visit <em>http://lastpage.me/yourname</em> to jump to
    the page</li>
</ul>

<p>Learn more: <a href="tools.html">Privacy, Tools, API, Fluidinfo</a></p>

{% endblock %}
