{% extends "base.html" %}

{% block content %}
<a href="/"><h1 id="lp_home"><span></span>lastpage.me</h1></a>

<p class="intro">
On the phone, how do you normally share a URL?
</p>

<ol>
  <li>Copy the URL of the page you're looking at in your broswer.</li>
  <li>Switch to your mail program.</li>
  <li>Enter or find your friend's mail address.</li>
  <li>Maybe write a Subject line for the mail.</li>
  <li>Paste the URL into the mail body.</li>
  <li>Click send.</li>
  <li>Go back to your browser.</li>
  <li>The other person switches to their mail program.</li>
  <li>You both wait until they receive the mail.</li>
  <li>They click to view your mail.</li>
  <li>They click on the link in the mail.</li>
</ol>

<p>
Of course there are other ways: reading a complicated URL aloud, or finding
a URL shortener and reading a randomized URL string, or maybe using some
kind of instant messaging. That's all work. It can be <em>so</em> much
simpler...
<p>

<h2>With lastpage.me sharing a URL takes 2 mouse clicks!</h2>

<ol>
  <li>Click <img src="/static/icon.png"/> to record the page you're on.</li>
  <li>Your friend clicks a browser bookmark to jump there.</li>
</ol>

{% endblock %}
