{% extends "base.html" %}

{% block content %}

<a href="/"><h1 id="lp_home"><span></span>lastpage.me</h1></a>

<p class="intro">Your privacy, custom URLs, open source,
Fluidinfo, command-line tools, feedback.</p>


<h2>Your privacy</h2>
<p>
<ul>
  <li>You only publish the URL you explicitly choose by clicking <img src="/static/icon.png"/>.</li>
  <li>Only one URL is stored at a time; clicking <img src="/static/icon.png"/> on any page overwrites the old URL.</li>
  <li>Your current lastpage.me page can be seen by anyone.</li>
</ul>
<p>

<h2>Custom URLs</h2>
<p>
<ul>
  <li>The Chrome extension has an advanced mode.</li>
  <li>Enable it in options (right-click on <img src="/static/icon.png"/>).</li>
  <li>When adding a page choose either &quot;Save&quot; (for the
  regular behavior) or &quot;Custom&quot; to enter a URL suffix. E.g.,
  enter &quot;xxx&quot; and the URL
  <em>http://lastpage.me/yourname/xxx</em> will send visitors to your
  current page.</li>
  <li>Use advanced mode to create as many custom URLs as you like.</li>
</ul>
<p>

<h2>lastpage.me is open source</h2>
<p>
<ul>
  <li>Get the source of <a href="https://github.com/fluidinfo/lastpage-server">
      the lastpage.me server</a>.</li>
  <li>Get the source of <a href="https://github.com/fluidinfo/lastpage-chrome">
      the Chrome extension </a>.</li>
  <li>We've released <a href="https://github.com/fluidinfo/lastpage-tools">
      a command-line script</a> for setting/getting/opening URLs.</li>
</ul>
</p>

<h2>lastpage.me uses Fluidinfo, so its data is open too</h2>
<p>
<ul>
  <li>URLs are stored in <a href="http://fluidinfo.com/">Fluidinfo</a>,
    which means 3rd party applications can work with it.</li>
  <li>In other words, lastpage.me data has a full API.</li>
  <li>You control your own data in Fluidinfo: you can add lastpage.me
    compatible tags any way you like, or use any application to access them.
  <li>Fluidinfo even lets you change permissions on your underlying tags.</li>
</ul>
</p>

<h2>We'd love to hear from you</h2>
<p>
<ul>
  <li>What uses have you found for lastpage.me?</li>
  <li>What would you like to see next?</li>
  <li>Would you like to learn more about the API?</li>
  <li>Please feel free to get in touch via email: 

<script type="text/javascript" language="javascript">
<!--
// Email obfuscator script 2.1 by Tim Williams, University of Arizona
// Random encryption key feature by Andrew Moulden, Site Engineering Ltd
// This code is freeware provided these four comment lines remain intact
// A wizard to generate this code is at http://www.jottings.com/obfuscator/
{ coded = "d9X7@XBrdmd9X7.u7v"
  key = "MIVYgJHok956S0udxZ8NRLezj7fbKpTlrmWCsGO4Uh1PXyaEQBqv3nFADwcit2"
  shift=coded.length
  link=""
  for (i=0; i<coded.length; i++) {
    if (key.indexOf(coded.charAt(i))==-1) {
      ltr = coded.charAt(i)
      link += (ltr)
    }
    else {     
      ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
      link += (key.charAt(ltr))
    }
  }
document.write("<a href='mailto:"+link+"'>"+link+"</a>")
}
//-->
</script>.<noscript>Sorry, you need Javascript on to email us.</noscript>

</li>


    <li>Hang out with us in
    <a href="irc://chat.freenode.net/fluidinfo">the #fluidinfo IRC
    channel</a> on <a href="http://freenode.net">Freenode</a>
    (<a href="http://webchat.freenode.net?channels=fluidinfo&uio=d4"
    target="new">chat now!</a>)</li>
</ul>
<p>

{% endblock %}
